<!-- The Job Posting -->
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">
            <strong>{{posting.title}}</strong>
          </h4>
          <p>
            <strong>Employer:</strong> {{posting.employer}}
          </p>
          <p>
            <strong>Location:</strong> {{posting.location}}
          </p>
          <p>
            <strong>Job ID#:</strong> {{posting.id}}
          </p>
          <p>
            <strong>Job Title:</strong> {{posting.title}}
          </p>
          <p>
            <strong>Description:</strong> {{posting.description}}
          </p>

          <a href="/postings">← Back To Job Listing</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- End of the Job Posting -->



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script type="text/javascript" src="/js/login.js"></script>

<script type="text/javascript" src="/js/signup.js"></script> 
<script type="text/javascript" src="/js/members.js"></script>